:root {
  --color-green: #39ff14; /* #41ff00; */
  --color-pink: #ff00d3;
  --color-purple: #9100ff;
  --color-red: #ff0000;
  --color-black: #000000;
  --color-claro: #fafafa;
  --fuente-principal: VT323;
  --box-shadow-light: 2px 2px 0px 1px var(--color-claro);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-principal);
  font-size: 1.5rem;
  background-color: black;
  color: var(--color-claro);
  background-image: url(../../../public/images/pixel-effect-v.png);
  background-size: 700px auto;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-root {
  margin-top: 4rem;
}

/* GENERALES */
.flex {
  display: flex;
}

.direccion {
  flex-direction: column;
}

.centrar-x {
  justify-content: center;
}

.centrar-y {
  align-items: center;
}

.separar {
  justify-content: space-between;
}

/* TODO COUNTER */
.title-ppal {
  font-size: 3rem;
  color: var(--color-green);
  font-weight: lighter;
  text-shadow: 2px 2px 2px var(--color-black);
  margin: 4rem;
  text-align: center;
}

/* TODO SEARCH */
.campo-search {
  width: 50vw;
  max-width: 480px;
  height: 35px;
  box-shadow: var(--box-shadow-light);
  padding: 0.3rem 0.5rem;
  outline: none;
  border: none;
}

.campo-search::placeholder {
  outline-color: var(--color-claro);
  font-family: var(--fuente-principal);
  font-size: 0.9rem;
}

.campo-search:focus {
  outline: 2px solid var(--color-purple);
}

/* LOADING */
.padding-all {
  padding: 1rem;
}

/* TODO LIST */
.container-list {
  width: 50vw;
  max-width: 480px;
  background-color: var(--color-purple);
  margin-top: 4rem;
  box-shadow: var(--box-shadow-light);
}

/* EMPTY ITEM */
.empty-text {
  width: 50vw;
  max-width: 480px;
}

/* TODO ITEM */
.container-task {
  margin: 0.5rem;
}

.pixel {
  width: 30px;
  height: 30px;
  background-color: var(--color-green);
  margin: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.pixel--active {
  color: var(--color-green);
  background-color: var(--color-claro);
}

.icon-pixel {
  padding: 0.1rem;
}

.task-text {
  display: inline;
  margin: 0.25rem;
}

.task-text--completed {
  text-decoration: line-through;
}

.del-task {
  color: var(--color-black);
  background-color: transparent;
  box-shadow: none;
}

.del-task:hover {
  color: var(--color-red);
  cursor: pointer;
}

/* TODO BUTTON */
.container-boton {
  width: 50vw;
  max-width: 480px;
  justify-content: flex-end;
}

.boton-add {
  background-color: var(--color-pink);
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  color: var(--color-claro);
  font-weight: bolder;
  font-size: 3rem;
  z-index: 1;
}

.boton-add:hover {
  cursor: pointer;
  color: var(--color-pink);
  background-color: var(--color-claro);
}

/* MODAL */
.container-modal {
  background-color: #42424265;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* TODO FORM */
.contenedor-form {
  width: 80vw;
  max-width: 450px;
  min-height: 25vh;
  background-color: var(--color-black);
  gap: 1.5rem;
  color: var(--color-green);
  padding: 1rem;
  box-shadow: var(--box-shadow-light);
  align-self: first baseline;
  margin-top: 8rem;
}

.form-tag {
  text-shadow: 1px 1px 1px var(--color-claro);
}

.form-texto {
  width: 70%;
  padding: 0.5rem;
  resize: vertical;
  color: var(--color-purple);
}

.form-texto::placeholder {
  font-family: var(--fuente-principal);
  color: grey;
  font-size: 1rem;
}

.contenedor-botones {
  width: 70%;
  justify-content: space-between;
}

.button {
  width: 100px;
  height: 40px;
  font-family: var(--fuente-principal);
  font-weight: 500;
  font-size: 1.5rem;
  border: var(--color-claro) 2px solid;
  text-shadow: 1px 1px 1px var(--color-black);
  cursor: pointer;
}

.button-cancel {
  background-color: var(--color-claro);
  color: var(--color-pink);
}

.button-aceptar {
  background-color: var(--color-claro);
  color: var(--color-green);
}

/* HIDDEN */
.hidden {
  display: none;
}
